[user]
  name = Mike Priscella
  email = mpriscella@gmail.com
[color]
  ui = true
[push]
  default = current
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  g = grep --break --heading --line-number
  df = diff
  co = checkout
  chb = checkout -b
  pom = pull origin master
  f = fetch
  s = stash
  sp = stash pop
  sa = stash apply
  b = branch
  br = branch -r
[grep]
  extendRegexp = true
  lineNumber = true
[include]
  path = .gitconfig.local
